<div class="row">
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card pizza-card">
        <div class="price">15.25رس</div>
        <img src="../assets/images/product-card2.png" class="card-img-top" alt="image card">
        <div class="card-body">
          <h5 class="card-title">بيتزا مارجريت</h5>
          <p class="card-text">
            هي الشكل الأساسي المعروف لطبق البيتزا، أي تلك التي تحتوي على صلصة بندورة بسيطة منكَّهة بالأعشاب ومغطّاة بالجبنة، وقد سُمّيت بهذا الاسم نسبةً إلى الملكة مارجريتا؛ حيث ابتكر الطاهي روفائيل اسبوزيتو هذا الطبق بمناسبة قدوم الملكة مارجريتا إلى مدينة نابولي.                       </div>
          <a href="./margaretPizza.html" class="order-btn">أطلب الآن</a>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card pizza-card">
        <div class="price">12.25رس</div>
        <img src="../assets/images/product-card1.png" class="card-img-top" alt="image card">
        <div class="card-body">
          <h5 class="card-title">بيتزا الخضار</h5>
          <p class="card-text">
            يتزا الخضار شهية وغنية بالفوائد الكثيرة كونها تحتوي على أفضل أنواع الخضراوات المفيدة للجسم، علاوة على ذلك تتميز بطعمها الشهي ويتفق على حبها كل صغير وكبير من أفراد العائلة.                    </p>
          </div>
          <a href="./vegetablePizza.html" class="order-btn">أطلب الآن</a>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card pizza-card">
        <div class="price">18.00رس</div>
        <img src="../assets/images/product-card3.png" class="card-img-top" alt="image card">
        <div class="card-body">
          <h5 class="card-title">بيتزا الدجاج</h5>
          <p class="card-text">
            مكونة من دجاج طازج مشوي مع الفلفل الأخضر و الأحمر ،البصل ،جبنة الموتزاريلا وصلصة البيتزا المميزة مع صلصة النعناع الشهية ,تعد من أشهى أنواع البيتزا حيث أن الدجاج له نصيب كبير بين محبي الطعام.                       </div>
          <a href="./chikenPizza.html" class="order-btn">أطلب الآن</a>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="card pizza-card">
          <div class="price">12.25رس</div>
          <img src="../assets/images/product-card1.png" class="card-img-top" alt="image card">
          <div class="card-body">
            <h5 class="card-title">بيتزا الخضار</h5>
            <p class="card-text">
              يتزا الخضار شهية وغنية بالفوائد الكثيرة كونها تحتوي على أفضل أنواع الخضراوات المفيدة للجسم، علاوة على ذلك تتميز بطعمها الشهي ويتفق على حبها كل صغير وكبير من أفراد العائلة.                    </p>
            </div>
            <a href="./vegetablePizza.html" class="order-btn">أطلب الآن</a>
          </div>
    </div>
</div>

