/* main carousel */
#headerCarousel {
    .carousel-indicators {
        li {
            width: 15px;
            height: 15px;
            border-radius: 50%;
        }
    }
    .carousel-inner {
        .carousel-item {
            text-align: center;
            .header-product {
                text-align: right;
                .header-desc {
                    width: 100%;
                }
            }
            .btn-content {
                margin-top: 50px;
            }
            .item-1, .item-2, .item-3, .item-4 {
                background-repeat: no-repeat;
                position: relative;
                background-size: cover;
                height: 700px;
            }
            .item-1 {
                background-image: url(../images/main-banner-1.png);
            }
            .item-2 {
                background-image: url(../images/main-banner-2.png);
            }
            .item-3 {
                background-image: url(../images/main-banner-3.png);
            }
            .item-4 {
                background-image: url(../images/main-banner-4.png);
            }
            .overlay {
                position: absolute;
                background-color: rgba($color: $bg-primary-color, $alpha: 0.6);
                bottom: 0;
                right: 0;
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}

@media (max-width: 991px) {
    #headerCarousel {
        .item-1, .item-2, .item-3, .item-4 {
            height: 600px !important;
        }
    }
}

@media (max-width: 767px) {
    #headerCarousel {
        .carousel-inner {
            .carousel-item {
                .header-desc,
                .header-subtitle,
                .header-title,
                .btn-content {
                    text-align: center !important;
                }
            }
        }
    }
}

@media (max-width: 567px) {
    #headerCarousel {
        .header-subtitle {
            font-size: 24px !important;
            margin-bottom: 15px !important;
        }
        .item-1, .item-2, .item-3, .item-4 {
            height: 550px !important;
        }
    }
}