$bg-primary-color: #121618;
$bg-primary-color-opacity: rgb(18, 22, 24, 0.6);
$light-color: #F5F7F7;
$light-color-opacity: rgb(245, 247, 247, 0.95);
$primary-color-1: #fac564;
$primary-color-2: #dd3744;