@font-face {
    font-family: "janna";
    src: local("janna"), url("../fonts/janna.woff") format("woff");
}
@font-face {
    font-family: "janna bold";
    src: local("janna bold"), url("../fonts/janna-bold.woff") format("woff");
}

h1, h2, h3, h4, h5 ,h6 {
    font-family: "janna bold";
}

body {
    font-family: "janna";
}