html, body {
    overflow-x: hidden;
}

a,
a:hover {
    text-decoration: none;
}

button:focus, input:focus,
textarea:focus, select:focus {
    box-shadow: none !important;
    outline: none !important;
    border-color: $primary-color-1 !important;
}

.banner {
    width: 100%;
    height: 7px;
    background-color: $primary-color-1;
}

.header-title {
    font-size: 30px;
    color: $primary-color-1;
    margin-bottom: 10px;
}
.header-subtitle {
    font-size: 40px;
    line-height: 4rem;
    margin: 0 0 25px;
    color: $light-color;
}
.header-desc {
    font-size: 18px;
    line-height: 2rem;
    color: $light-color;
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.custom-btn-primary-1,
.custom-btn-primary-2 {
    font-family: "janna";
    color: $light-color;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    padding: 0.75rem 1.25rem;
}

.custom-btn-primary-1 {
    background-color: $primary-color-2;
    &:hover {
        color: $bg-primary-color;
    }
}

.custom-btn-primary-2 {
    background-color: transparent;
    border-color: $light-color;
    &:hover {
        background-color: $primary-color-1;
        border-color: transparent;
        color: $bg-primary-color;
    }
}

.btn-with-icon {
    padding: 0.65rem 1.5rem;
    img {
        margin-left: 7px;
    }
}

button[disabled] {
    opacity: 0.5;
    &:hover {
        cursor: default;
        color: $light-color;
    }
}

.section-header {
    text-align: center;
    .section-title {
        font-size: 30px;
        margin-bottom: 1.5rem;
        .title-hint {
            font-family: "janna bold";
            color: $primary-color-2;
        }
    }
    .section-desc {
        font-size: 18px;
        line-height: 2rem;
        color: $bg-primary-color;
        width: 50%;
        margin: 0 auto;
    }
}

.header-top {
    background-repeat: no-repeat;
    background-size: cover;
    .overlay {
        padding: 180px 0;
        background-color: rgba($color: $bg-primary-color, $alpha: 0.5);
        .header-subtitle {
            color: $primary-color-1;
            text-align: center;
        }
    }
}

.custom-breadcrumb {
    background-color: transparent;
    display: flex;
    justify-content: center;
    padding: 0;
    li {
        font-size: 14px;
        &:not(:first-child)::before {
            content: ">";
            padding: 5px 10px 0;
            color: $primary-color-1;
        }
        a {
            color: $primary-color-1;
        }
    }
    .active {
        color: rgba($color: $primary-color-1, $alpha: 0.5);
    }
}

@media (max-width: 991px) {
    .header-desc {
        width: 500px;
    }
}

@media (max-width: 767px) {
    .section-header {
        .section-desc {
            width: 320px;
        }
    }
    .header-subtitle {
        font-size: 30px;
        line-height: 2.5rem;
    }
}

@media (max-width: 576px) {
    .header-desc {
        width: 320px;
        font-size: 15px;
        line-height: 1.5rem;
    }
}