// home page
.home-page {
    #menu {
        background-image: url(../images/main-banner-4.png);
        background-size: cover;
        .overlay {
            padding: 100px 0;
            background-color: rgba($color: $light-color, $alpha: 0.95);
        }
        .menu-cards {
            margin-top: 3.5rem;
        }
    }

    #features {
        padding: 100px 0;
        // background-color: $primary-color-1;
        background-image: url(../images/feature-bg.png);
        .features-card-content {
            margin-top: 3.5rem;
        }
    }
}

// contact page
.contact-page {
    .header-top {
        background-image: url(../images/contact-header-bg.jpg);
    }

    .contact-info {
        padding: 80px 0 40px;
        .infos {
            margin-bottom: 60px;
            .working, .address {
                margin-bottom: 35px;
            }
            // #places {
            //     height: 45px;
            //     width: 340px;
            //     margin-top: 20px;
            //     &:focus {
            //         border-color: $primary-color-1;
            //     }
            // }
            #accordionPlaces {
                width: 85%;
                .card {
                    border-radius: 0;
                    .card-header {
                        padding: 0;
                        height: 45px;
                        .btn {
                            width: 100%;
                            &:focus {
                                border: none;
                            }
                            .contact-info-title {
                                font-size: 18px;
                                text-align: right;
                                margin-bottom: 0;
                            }
                        }
                    }
                    .card-body {
                        padding: 0;
                        ul {
                            margin-bottom: 0;
                            padding-right: 0;
                            list-style: none;
                            li {
                                padding: 7px 10px;
                                &:nth-child(even) {
                                    background-color: rgba($color: $bg-primary-color, $alpha: 0.05);
                                }
                            }
                        }
                    }
                }
            }
            .contact-info-list {
                padding-right: 0;
                list-style: none;
                .contact-info-list-item {
                    margin-bottom: 10px;
                }
                img {
                    margin-left: 10px;
                }
            }
        }
    }

    .map-content {
        height: 300px;
        margin-top: 50px;
    }
}

// about page
.about-page {
    .header-top {
        background-image: url(../images/about-img.jpg);
        background-position: center;
    }

    .about-pizza {
        display: flex;
        .img-content img {
            width: 100%;
            height: 457px;
        }
        .about-content {
            height: 100%;
            width: 100%;
            padding: 8% 7%;
            .about-title {
                font-size: 32px;
                margin-bottom: 30px;
                color: $primary-color-1;
                text-align: center;
            }
            .about-desc {
                font-size: 16px;
                line-height: 1.8rem;
            }
        }
    }

    .our-chef {
        padding: 100px 0;
        background-color: $bg-primary-color;
        color: $light-color;
        .section-desc {
            color: $light-color;
        }

        .chef-content {
            margin-top: 50px;
            .chef-card {
                border: 1px solid $light-color;
                border-radius: 10px;
                margin-bottom: 30px;
                padding: 30px 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                &:hover {
                    border-color: $primary-color-1;
                }
                .chef-img {
                    width: 130px;
                    height: 130px;
                    border-radius: 50%;
                    margin-bottom: 30px;
                }
                .chef-name {
                    color: $primary-color-1;
                    margin-bottom: 0.75rem;
                    font-size: 20px;
                }
                .chef-job {
                    font-size: 18px;
                    margin-bottom: 1.5rem;
                }
                .chef-desc {
                    font-size: 16px;
                    line-height: 1.5rem;
                    text-align: center;
                    color: rgba($color: $light-color, $alpha: 0.7);
                    font-family: "janna";
                }
            }
        }
    }
}

// media
@media (max-width: 1199px) {
    #accordionPlaces {
        width: 100% !important;
    }
}

@media (max-width: 991px) {
    .about-pizza {
        .about-content {
            .about-desc {
                text-align: center;
            }
        }
    }
    .product {
        #carouselProduct {
            margin-bottom: 30px;
        }
    }
    .details-content {
        .details-content-item {
            p {
                width: 100% !important;
            }
        }
    }
}

@media (max-width: 767px) {
    .about-page {
        .about-pizza {
            .img-content {
                img {
                    height: auto;
                }
            }
        }
    }
    .related-products {
        .related-content {
            .pizza-card {
                .card-img-top {
                    height: 220px !important;
                }
            }
        }
    }
}

@media (max-width: 406px) {
    .product-details {
        .details-header {
            h5 {
                font-size: 18px !important;
                white-space: nowrap;
                &:not(:last-child) {
                    margin-left: 35px !important;
                }
            }
        }
    }
}