@mixin pizzaPage($mainColor: #aaaaaa) {
    .header-top {
        background-image: url(../images/shop-bg.png);
        .overlay {
            padding: 70px 0;
        }
    }

    .product {
        margin-top: 100px;
        #carouselProduct {
            display: flex;
            height: 460px;
            .carousel-indicators {
                position: static;
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                .indicator-img {
                    width: 80px;
                    height: 80px;
                    margin: 10px;
                    border: 1px solid $bg-primary-color;
                    background-color: transparent;
                    cursor: pointer;
                    object-fit: cover;
                    opacity: 0.4;
                    &.active {
                        border-color: $primary-color-1;
                        opacity: 1;
                    }
                }
            }
            .carousel-inner {
                margin: 10px;
                border: 1px solid $bg-primary-color;
                .carousel-item {
                    img {
                        object-fit: cover;
                        width: 600px;
                        height: 460px;
                    }
                }
            }
        }

        .product-summary {
            margin: 10px 0;
            & > div {
                margin-bottom: 17px;
            }
            .product-name h3 {
                font-size: 30px;
            }
            .product-price h2 {
                font-size: 24px;
                color: $mainColor;
                &#show-price {
                    font-size: 18px;
                }
            }
            .product-desc p {
                font-size: 14px;
                line-height: 1.5rem;
                margin-bottom: 10px;
            }
            form {
                & > div {
                    margin-bottom: 17px;
                }
                .p-select {
                    h5 {
                    font-size: 18px;
                    margin-bottom: 10px;
                    }
                    #product-size {
                        padding: 0 0.75rem !important;
                    }
                }
                .btn-with-icon {
                    margin-top: 7px;
                    background-color: $mainColor;
                }
            }
        }
    }

    .product-details {
        padding: 100px 0;
        .details-header {
            display: flex;
            margin-bottom: 20px;
            h5 {
                &:not(:last-child) {
                    margin-left: 45px;
                }
                cursor: pointer;
                font-size: 20px;
                color: rgba($color: $bg-primary-color, $alpha: 0.5);
                padding-bottom: 9px;
                &:hover {
                    color: rgba($color: $bg-primary-color, $alpha: 0.7);
                }
                &.active {
                    color: $bg-primary-color;
                    border-bottom: 3px solid $mainColor;
                }
            }
        }
        .details-content {
            .details-content-item {
                h2 {
                    font-size: 25px;
                    margin-bottom: 15px;
                    color: $bg-primary-color;
                }
                p {
                    font-size: 16px;
                    line-height: 1.8rem;
                    width: 60%;
                    color: rgba($color: $bg-primary-color, $alpha: 0.7);
                }
                ul {
                    padding-right: 10px;
                    list-style: none;
                    li {
                        font-size: 16px;
                        padding: 8px 14px;
                        &:nth-child(odd) {
                            background-color: rgba($color: $bg-primary-color, $alpha: 0.05);
                        }
                    }
                }
                .comments {
                    .comment {
                        display: flex;
                        padding: 18px 0;
                        border-bottom: 1px solid rgba($color: $bg-primary-color, $alpha: 0.3);
                        img {
                            width: 65px;
                            height: 65px;
                            border-radius: 50%;
                            margin-left: 15px;
                        }
                        .comment-body {
                            .customer-name {
                                font-size: 16px;
                                color: $bg-primary-color;
                                display: inline;
                            }
                            .star-content {
                                img {
                                    width: 16px;
                                    height: 16px;
                                    margin-left: 1px;
                                }
                            }
                            #customer-comment {
                                margin: 10px 0 0;
                                font-size: 16px;
                                line-height: 1.4rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .related-products {
        margin-top: 50px;
        padding-bottom: 150px;
        .related-content {
            margin-top: 50px;
            .pizza-card {
                .card-img-top {
                    height: 180px;
                }
            }
        }
    }
}

// margaretPizza-page
.margaretPizza-page {
    @include pizzaPage($primary-color-1);
}

// vegetablePizza-page
.vegetablePizza-page {
    @include pizzaPage($primary-color-3);
}

// chikenPizza-page
.chikenPizza-page {
    @include pizzaPage($primary-color-2);
}

@media (max-width: 567px) {
    .product {
        #carouselProduct {
            flex-direction: column !important;
            height: auto !important;
            .carousel-inner {
                height: 440px !important;
                margin: 0 !important;
            }
            .carousel-indicators {
                flex-direction: row !important;
                .indicator-img {
                    width: 60px !important;
                    height: 60px !important;
                    margin: 15px 0 15px 20px !important;
                }
            }
        }
    }
}

@media (max-width: 406px) {
    .product {
        #carouselProduct {
            .carousel-inner {
                height: 380px !important;
            }
        }
    }
}
